<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>{% block head %}{% endblock %}</title>
</head>
<body>
    {% include "components/navbar.html" %}

    <div class="page-cool">

        {% block content %} {% endblock %}

    </div>

</body>
</html>
