{% extends "components/layout.html"%}

{% block head %}
Home
{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<h1>Busca los seguros mas contratados</h1>

<div class="container-cool">

    <label class="label-cool" for="top-input">Indica cual es el top de seguros mas contratados que quieres revisar :</label>

    <input id="top-input" type="number" class="input-cool" value="5">

    <div class="btn-container-c">

        <button onclick="goTopView()">Ver</button>

    </div>

</div>

<script>

const goTopView = () => {
    const top = document.getElementById('top-input').value;
    const url = "/top-most-hired/" + top;
    window.location.href = url;
}

</script>

{% endblock %}
