{% extends "components/layout.html"%}

{% block head %}
Home
{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/topMostHired.css') }}">
{% endblock %}


{% block content %}
<h1>Lista de seguros mas contratados</h1>

{% for insurance in data %}

<div class="container-cool">


    <div class="insurance-title-c">
        {{ name_list[insurance['idx']]['name'] }}
    </div>

    <div class="insurance-subtitle-c">

        <div class="number-c">
            <b>Número:</b> {{ insurance['id'] }}
        </div>

        <div class="type-c">
            <b>Tipo:</b> {{ insurance['type'] }}
        </div>

    </div>

    <div class="date-c">

        <div class="init-d-c">
            <b>Fecha de inicio:</b> {{ insurance['initDate'] }}
        </div>


        <div class="end-d-c">
            <b>Fecha de terminación</b> {{ insurance['endDate'] }}
        </div>

    </div>

    <div class="contracted-c">
        <b>Número de contrataciones:</b> {{ insurance['contracted'] }}
    </div>

</div>

{% endfor %}



{% endblock %}
