h1 {
    text-align: center;
}


.container-cool {
    display: flex;
    flex-direction: column;
}

.label-cool {
    font-size: .7em;
    margin-bottom: 3px;
    color: #595959;
}

.input-cool {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 1em;
}

.btn-container-c {
    margin-top: 1em;
    text-align: center;
}

.btn-container-c button {
    padding: 1em;
    border-radius: 4px;
    border: none;
    transition: all .1s linear;
    color: #656565;
}

.btn-container-c button:hover {
    cursor: pointer;
    background-color: #ababab;
    color: #ffffff;
}