body {
    margin: 0;
    font-family: 'Rubik', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.page-cool {
    margin-top: 7em;
    padding: 1em;
}

.navbar-cool {
    background-color: #1c1c1c;
    padding: 1em;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
    left: 0;
}

.container-cool {
    padding: 1.5em;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background-color: #fafafa;
    max-width: 500px;
    margin: 1em auto;
}