h1 {
    text-align: center;
}

.insurance-title-c {
    font-size: 1.5em;
}

.insurance-subtitle-c, .date-c, .contracted-c{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.contracted-c {
    justify-content: left;
}

.contracted-c b {
    margin-right: 5px;
}